@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
--link: #1b3b80;
--color: #070707;
--color-primary: #151515;
--color-secondary: #151515;
--color-hover: #252525;
--bg: #DDDDDD;
--bg-primary: #FFFFFF;
--bg-secondary: #CCCCCC;
--bg-hover: #EEEEEE;
}

.dark {
--link: #5a7cc7;
--color: #DDDDDD;
--color-primary: #FFFFFF;
--color-secondary: #CCCCCC;
--bg: #070707;
--bg-primary: #151515;
--bg-secondary: #151515;
--bg-hover: #252525;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}